button {
    padding: 16px 20px;
    border: none;
    border-radius: 2rem;
    width: 100%;
    cursor: pointer;
    background-color: #046ee5;
    color: white;
    font-weight: 600;
    font-size: 16px;
    
}