.container-cadastro {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}

.form-cadastro {
  gap: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 1rem 1rem #0003;
  background-color: rgb(255, 255, 255);
  padding: 2rem;
  border-radius: 1rem;
  width: min-content;

  .form {
    margin: 0;
  }
}

.buttons-flex {
  display: flex;
  gap: 1rem;
}

.button-cadastro {
  background-color: #046ee5;
  width: 10rem;
}

.button-cancel {
  background-color: #dc0000;
  width: 10rem;
}