.container-login {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  height: 100vh;
}

a {
  text-decoration: none;
  color: #046ee5;
}

label {
  font-size: 14px;
  color: #ff0000;
}